body {
    padding: 4% 4% 4% 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#B0DFDC, white);
    background-repeat: no-repeat;
}

.the-form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    border-color: #B0DFDC;
    border-style: solid;
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    line-height: 26pt;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.submit-button {
    margin-top: 20px;
}

.intro-form {
    text-align: center;
}

a.back-button {
    color: black;
    background-color: white;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center;
}

a.back-button:hover {
    color: white;
    background-color: black;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center; 
}

