body {
    padding: 4% 4% 4% 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#B0DFDC, white);
    background-repeat: no-repeat;
}

a.back-button {
    color: black;
    background-color: white;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center;
}

a.back-button:hover {
    color: white;
    background-color: black;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center; 
}

.main-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    line-height: 26pt;
    padding: 4% 4% 4% 4%;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    border-color: #00B1A5;    
}

@media only screen and (max-width: 400px) {
    .the-form {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        line-height: 26pt;
        padding: 4% 4% 4% 4%;
        border-style: solid;
        border-radius: 10px;
        background-color: white;
        border-color: #00B1A5;  
        size: 100%;
    }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0;
    display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
