body {
	padding: 4% 4% 4% 4%;
	background-image: url(https://wallpapertag.com/wallpaper/full/0/e/e/141902-warframe-background-1920x1202-ios.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

@media only screen and (max-width: 400px) {
	body {
		padding: 4% 4% 4% 4%;
		background-image: url(https://wallpapertag.com/wallpaper/full/0/e/e/141902-warframe-background-1920x1202-ios.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
}


a.back-button {
	padding: 1% 1% 1% 1%;
	text-decoration: none;
	border-style: solid;
	border-color: black;
	background-color: white;
	color: black;
}

a.back-button:hover {
	padding: 1% 1% 1% 1%;
	text-decoration: none;
	border-style: solid;;
	background-color: black;
	color: white;
	border-color: white;
}

.main-container {
	display: flex;
	flex-direction: column;	
	align-items: center;
	text-align: center;
}

.main-container p, .main-container h1 {
	color: white;
}

.game-container {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 26pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	border-style: solid;
	border-color: #00B1A5;
	background-color: white;
	border-radius: 20px;
	padding: 2% 2% 2% 2%;
}

.sub-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.left-txt {
	text-align: left;
	align-self: center;
}

.right-txt {
	text-align: right;
	align-self: center;
}

@media only screen and (max-width: 400) {
	.sub-container {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        line-height: 26pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        border-style: solid;
        border-color: #00B1A5;
        background-color: white;
        border-radius: 20px;
        padding: 2% 2% 2% 2%;
    }
}

.left-txt, .right-txt, p, h1 {
	color: black;
}

.game-osu {
	display: flex;
	flex-direction: row-reverse;
}

.game-warframe {
	display: flex;
	flex-direction: row;
	float: left;
}

#game-img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	padding: 40px 40px
}