body {
    padding: 4% 4% 4% 4%;
    /* size: 100%; */
    background-image: linear-gradient(#B0DFDC, white);
    background-repeat: no-repeat;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: 10%; */
}

.main {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
    align-self: center;
    align-content: center;
}

.ca-card a {
    background-color: #00B1A5;
    color: white;
    padding: 10px 10px;
    /* text-align: center;  */
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 10px;
    border-style: solid;
    /* border-width: 1px; */
    border-color: #00B1A5;
    border-radius: 10px;
}

.ca-card a:hover {
    background-color: white;
    padding: 10px 10px;
    border-style: solid;
    /* border-width: 1px; */
    text-decoration: none;
    text-align: center; 
    border-color: #00B1A5;
    margin-top: 10%;
    margin-bottom: 10px;
    color: #00B1A5;
    border-radius: 10px;
}

a.form-button {
    background-color: #00B1A5;
    color: white;
    padding: 10px 10px;
    /* text-align: center;  */
    text-decoration: none;
    margin-top: 10px;
    
    border-style: solid;
    /* border-width: 1px; */
    border-color: #00B1A5;
    border-radius: 10px;
}

a.form-button:hover {
    background-color: white;
    padding: 10px 10px;
    border-style: solid;
    /* border-width: 1px; */
    text-decoration: none;
    text-align: center; 
    border-color: #00B1A5;
    margin-top: 10px;
    color: #00B1A5;
    border-radius: 10px;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.back-button {
    color: black;
    background-color: white;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center;
}

a.back-button:hover {
    color: white;
    background-color: black;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    text-align: center;

}

@media only screen and (max-width: 400px) {
    a.back-button:hover {
        color: white;
        background-color: black;
        padding: 1% 1% 1% 1%;
        text-decoration: none;
        text-align: center;
        font-size: small;
    }

    a.back-button {
        color: black;
        background-color: white;
        padding: 1% 1% 1% 1%;
        text-decoration: none;
        text-align: center;
        font-size: small;
    }
}

a.gaming-button {
    background-color: #00B1A5;
    color: white;
    padding: 10px 10px;
    text-align: center; 
    text-decoration: none;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border-style: solid;
    /* border-width: 1px; */
    border-color: #00B1A5;
    border-radius: 10px;
}

a.gaming-button:hover {
    background-color: white;
    padding: 10px 10px;
    border-style: solid;
    /* border-width: 1px; */
    text-decoration: none;
    text-align: center; 
    border-color: #00B1A5;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    color: #00B1A5;
    border-radius: 10px;
}

.intro {
    text-align: center;
    margin-bottom: 0.2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myImg {
    /* margin-left: auto;
    margin-right: auto; */
    display:block;
    border-radius: 50%;
    margin-bottom: 30px;
    
}

.skills {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* bottom */

.cards {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

/* text in about-button and contact-button */

.ca-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17em;
    width: 22em;
    border: solid;
    border-radius: 10px;
    border-color: #00B1A5;
    padding: 2% 2% 2% 2%;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
}

.ca-card #p-card {
    font-size: 1em;
}

.ca-card #about-img {
    border-style: solid;
    border-radius: 50%; 
    height:100px;
    width: 100px;
    padding: 10px 10px;
}

.ca-card #contact-img {
    border-style: solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}

#gaming-button {
    margin-top: 20px;
    border-radius: 10px;
    border-color: #00B1A5;
    background: #00B1A5;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
}




/* contact-section */

.contact-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    margin-top: 100px;
    border-color: #00B1A5;
    background: white;
    align-self: center;
}

#soc-list {
    align-items: center;
    align-content: center;
    /* align-self: center; */
}

.social-img {
    width: 80px;
    height: 80px;
    padding-bottom: 15px;
    float: left;
}

.social-txt {
    float: left;
    padding-top: 20px;
    align-self: center;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* about-section */

.main3 {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3%;
    
}

.about-me {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    line-height: 26pt;
}

@media only screen and (max-width: 400px) {
    .about-me {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        line-height: 26pt;
        font-size: small;
    }
}


.about-me #p-about {
    text-align: left;
    margin-bottom: 20px;
}

#bronze {
    color: brown;
}

#silver {
    color: grey;
}

#track {
    margin-top: 70px;
}

#achievement {
    margin-top: 70px;
}

/* gaming section */

