<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'act-form2.css'%}" />
</head>
<body>
    <a class="back-button" href="/..">Back</a>
    <div class="intro-form">
        <h1>Fill the form below</h1>
        <p>Create a new activity reminder, so you can keep on track!</p>
    </div>
    
    <div class="the-form">
        <!-- the form -->
        <form action="/form/" method="POST"> 
            {% csrf_token %}
            <label for="">Activity name: </label>
            {{form.name}}

            <label for="">Due Date: </label>
            {{form.date}}

            <label for="">Due Time: </label>
            {{form.time}}

            <label for="">Location: </label>
            {{form.location}}

            <label for="">Category: </label>
            {{form.act_category}}
            
            <input class="submit-button" type="submit" >
        </form>
        <!-- button submit -->
        
    </div>

    <br>
    <br>
    <h1>Activities List</h1>

    <form action="/form/del_all/" method="POST" id="form1">
        {% csrf_token %}
        <button class="del-button" type="submit" form="form1" value="Submit">Delete all</button>
    </form>
      
   

    <div class="act-list">
        {% if events %}
        {% for e in events %}
        <ul>
        <li for="">Activity name : {{e.name}} </li>
         <br>

        <label for="">{{e.date}}</label>
         <br>

        <label for="">{{e.time}}</label>
        <br>

        <label for="">{{e.location}}</label>
         <br>

        <label for="">Type: {{e.act_category}}</label>
         <br>
        <br> <br>
        </ul>
        {% endfor %}
        {% else %}
        <p>No activites yet</p>
        {% endif %}
    </div>

</body>
</html>