<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'index2.css'%}">

<head>
    <meta charset="utf-8" />
    <title> {{ mhs_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <img id=myImg src="https://files.catbox.moe/73bqc7.png" alt="Nafis" height=160 width=120>
        <div class="intro">
            <h1>{{ mhs_name }}</h1>
        </div>
        <div class="skills">
            <p> I am a:<br> Martial-artist, Designer, Software Developer </p>
        </div>
        <!-- form -->
        <a class="form-button" href="/form">Fill the form!</a>
        <div class="cards">
            <!-- left card -->
            <div class="ca-card" id="left-card">
                <img id="contact-img" src="https://cdn.pbrd.co/images/HEsuhWe.png">
                <!-- <a href="story3-contact.html">
                    contact-about button class
                    <button class="ca-button">Contact support</button>
                </a> -->
                <a href="/contact">Contact support</a>
                <p id="p-card" align="center">
                    My phone numbers and my social media identity
                </p>
            </div>
            <!-- right card -->
            <div class="ca-card" id="right-card">
                <img id="about-img" src="https://cdn.pbrd.co/images/HEt5G7V.png">
                <a href="/about">About</a>
                <p id="p-card" align="center">
                    All about myself and my experience
                </p>
            </div>
        </div>
    
        <a class="gaming-button" href="/gaming">Gaming</a>
    </div>
    </body>
    </html>