<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'index2.css'%}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous"> -->
</head>


<body>
<a class="back-button" href="/..">Back</a>
<div class="main3">
    <div class="about-me">
        <h1>About me</h1>
        <div id="p-about">
            <ul>
                <li>Birthday    : 18 Oktober 1999</li>
                <li>Hobbies : Gaming, drawing</li>
            </ul>

            <p>Usually called as Nafis. A little bit introvert but I am trying to upgrade my sofskills
                I can adapt easily to any work environment, but if I am asked which environment I prefer,
                I'll go with "relax but serious"
            </p>
        </div>
        <!-- Track record -->
        <h1 id="track">Track Record</h1>
        <div id="p-about">
            <ul>
                <li>Staff of BEM Fasilkom UI - Media</li>
                <li>Staff of SIWAK-NG - Documentation</li>
                <li>Committee of PMB 2018 - Documentation</li>
            </ul>
        </div>
        <!-- Achievements -->
        <h1 id="achievement">Achievements</h1>
        <div id="p-about">
            <ul>
                <li> <b id="bronze">Bronze medal</b> - International Taekwondo Festival</li>
                <li> <b id="silver">Silver Medal</b> - Karate Tarsat Cup Tarakanita</li>
            </ul>
        </div>
    </div>
</div>    
</body>
</html>