<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"href="{% static 'form.css' %}" />
</head>


<body>
<a class="back-button" href="/..">Back</a>
<div class="main-form-section">
    <h1>Welcome to my form!</h1>   
    <p>Please register yourself in this form, for us to know each other ^_^</p>

    <div class="the-form">
        <form>
            Name: <br>  
            <input type="text" name="firstname">
            <br>
            Date: <br>
            <input type="date" name="date">
            <br>
            Email: <br>
            <input type="text" name="email">
            <br>
            Username: <br>
            <input type="text" name="username">
            <br>
            Password: <br>
            <input type="password" name="pass">
            <br>
            Confirm password: <br>
            <input type="password" name="c-pass">
            <br>
            <br>
            <div class="submit-button">
                <input id="submit-button" type="submit">
            </div>
        </form>
    </div>

</div>
</body>
</html>