<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Contact support</title>
    <link rel="stylesheet" href="{% static 'index2.css' %}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous"> -->
</head>


<body> 
    <a class="back-button" href="/..">Back</a>

    <div class="main2">
        <h1 style="text-align: center">My Contact</h1>

        <div class="contact-card">
            <div id="soc-list">
                <img class="social-img" src="https://cdn.pbrd.co/images/HECIqEw.png" alt="line">
                <p class="social-txt">{{line}}</p>
            </div>
            <div id="soc-list">
                <img class="social-img" src="https://image.flaticon.com/icons/png/512/226/226757.png" alt="whatsapp">
                <p class="social-txt">{{number}}</p>
            </div>
            <div id="soc-list">
                <img class="social-img" src="http://pngimg.com/uploads/email/email_PNG55.png" alt="email">
                <p class="social-txt">{{e}}</p>
            </div>
        </div>
    </div>
</body>
</html>
