<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gaming2.css' %}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gaming page (revised)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous"> -->
</head>

<body>
<a class="back-button" href="/..">Back</a>

<div class=main-container>
	<h1>I also play some video games</h1>
	<p>These are the games I play nowadays</p>
</div>

<div class="sub-container">
    <div class="game-container">
        <div class="game-warframe">
            <img id="game-img" src="https://steamuserimages-a.akamaihd.net/ugc/82591194021675307/51C9B914AA3057B38755A9ED471AEBFBC4EE2466/"
            alt="">
            <div class="left-txt">
                <h1>Warframe</h1>
                <p>This game is just fit my gameplay style. Add me in Warframe, the
                        name is “ketber”. Currently in Mastery Rank 9. Let’s trade, hunt rare items,
                        and farm items together</p>    
            </div>
        </div>

        <div class="game-osu">
            <img id="game-img" src="https://vignette.wikia.nocookie.net/osugame/images/c/c9/Logo.png/revision/latest?cb=20151219073209" alt="">
            <div class="right-txt">
                <h1>Osu</h1>
                <p>This is a best rythm game in PC I have ever played. Many anime songs
                        are in this game. Add my nickname “annafis1”. Well, I am not so good 
                        at this game but it is a pretty fun game though. 
                        Let’s share good songs and increase your pp with me :D</p>    
            </div>
        </div>
    </div>
</div>
</body>